/* 版心宽度 */
.w{
    width: 1330px;
    margin :0 auto;
}
/* 快捷导航模块 */
.shortcut{
    height: 30px;
    background-color: #f1f1f1;
    line-height: 30px;
    padding-left: 360px;
}
.shortcut a{
    color: #c81623;  
}
.shortcut ul{
    height: 15px;
    float:right;
    margin-right: 360px;
    
}
.shortcut li{
    height: 13px;
    margin-top: 9px;
    margin-right: 15px;
    float: left;
    border-right: #666666 solid 1px;
    line-height: 15px;
}
#f1{
    border-right: none;
}
header{
    position: relative;
    height: 60px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
header button{
    position: absolute;
    right: 65px;
    height: 35px;
    width: 140px;
    background-color: #f7f7f7;
    border: #dfdfdf solid 1.5px;
}
header button .xiaoxi{
    position: absolute;
    top: -7px;
    right: 19px;
}
header button .gouwu{
    position:absolute;
    left: 18px;
    bottom: 10px;
}
header button .rightdirect{
    position: absolute;
    right:15px;
    top: 11px;
}
header button p{
    position:absolute;
    font-size: 11px;
    font-weight: 200;
    left: 43px;
    bottom: 8px;
}
.search input  {
    padding-left: 1em;
    font-size: 14px;
    color: #8c8c8c;
    outline: none;
}
.search{
    position: absolute;
    top: 0px;
    left: 385px;
    height: 35px;
    width: 538px;
    border:#b1191a solid 2px ;
}
.search input{
    height: 31px;
    width: 454px;
    border: none;

}
.search>button{
    position: absolute;
    border: none;
    right: 0px;
    top:0px;
    width: 80px;
    height: 32px;
    background-image: url(../imgs/searchbutton.png);
}
.headbottom{
    position: absolute;
    bottom: 5px;
    left: 385px;
    width: 538px;
    height: 15px;
}
.headbottom li{
    float: left;
    margin-left: 25px;
    height: 100%;
    width: auto;
    line-height: 15px;
}
.headbottom .shoufa{
    margin-left: 12px;
}
nav{
    height: 45px;
    border-bottom: #b1191a solid 2px;
}
.dropdown{
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.navitems{
    float: left;
    height: 43px;
    width: 832px;
}
.dt{
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.dd{
    width: 100%;
    height: 467px;
    background-color: #b1191a;
}
.dd li{
    height: 31px;
    width: 206px;
    margin-left: 2px;
    line-height: 31px;
    color: white;
}
.dd li a{
    display: block;
    padding-left: 1em;
    height: 100%;
    width: 206px;
    font-size: 14px;
    color: #fff;
}
.dropdown .dd img{

}
.dd li:hover a{
    background-color: #fff;
    color: #b1191a;
}
.navitems ul li a{
    float: left;
    display: block;
    width: 104px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    color: black;
    font-size: 16px;
}
.navitems ul li a:hover{
    background-color: #b1191a;
    color: white;
}
footer{
    height: 420px;
    background-color: #f5f5f5;
}
.footer1{
    position: relative;
    width: 100%;
    height: 80px;
    top: 30px;
    border-bottom: #ededed solid 1px;
}
.box{
    float: left;
    position: relative;
    height: 100%;
    width: 266px;
}
.box img{
    position: absolute;
    left: 38px;
}
.box p{
    position: absolute;
    left: 95px;
    top: 7px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.box .subtitle{
    position: absolute;
    top:30px ;
    left:95px ;
    font-size: 12px;
    color: #8c8c8c;
    font-family: "宋体";
    font-weight: 400;
}
.footer2{
    position: relative;
    top: 30px;
    height: 190px;
    width: 100%;
    border-bottom: #ededed solid 1px;
}
.footer2>ul>li{
    float: left;
    height: 190px;
    width: 220px;
    padding-left: 45px;
    padding-top: 22px;
}
.footer2>ul>.QR{
    float: left;
    height: 190px;
    width: 220px;
    padding-left: 45px;
    padding-top: 22px;
}
.messagebox1 .mestitle1{
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
}
.messagebox2 .mestitle{
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
}
.messagebox1 li{
    padding-bottom: 2px;
    font-weight: 200;
    font-size: 12px;
}
.messagebox2 li{
    padding-bottom: 5px;
    font-weight: 200;
    font-size: 12px;
}
.QR p{
    font-size: 16px;
    font-weight:400;
    margin-bottom: 16px;
}
.QR .subtitle{
    font-size: 12px;
    font-weight: 200;
    padding-top: 8px;
}
.footer3{
    position: relative;
    top:30px;
    width: 100%;
    height: 120px;
}
.aboutus{
    position: relative;
    top: 20px;
    width: 100%;
    height: 12px;
}
.aboutus li{
    float: left;
    height: 12px;
    width: auto;
    font-size: 12px;
    font-weight: 200;
    line-height: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: #999999 solid 1px;
}
.aboutus .firstus{
    padding-left: 117px;
}
.aboutus .lastus{
    padding-right: 110px;
    border: none;
}
.address{
    position: relative;
    top: 38px;
    height: 32px;
    width: 100%;
    text-align: center;
    line-height: 32px;
}
.footer3 a:hover{
    color:#0162ff;
}
.number{
    position: relative;
    top: 42px;
    height: 12px;
    width: 100%;
    text-align: center;
    line-height: 12px;
}